/* Colors */
$yellow:#ffd700;
$yellow-light:#e7cb2c;
$blue:#00ccff;
$blue-dark:#262626;
$color-theme:#2a2e33;

/* Typography */
$droid:"DroidSans";
$quick-b:"QuicksandBold";
$quick-r:"QuicksandRegular";
$quick-l:"QuicksandLight";
$ard:"Ardecode";
$text-color:#a4a5a7;

/* Images */
$img:"img";

/*sprites*/

$room-icons-sprite: vent, fan, table, tv, wifi, coffee;
$i : 0px;

